.commitment {
    padding-top: 84px;
    padding-bottom: 84px;
    width: 1110px;
    display: flex;
    justify-content: space-between;
}

.commit-right-header {
    padding-top: 50px;
    font-family: Fraunces ;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

.commit-right-desc {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    width: 540px;
}