.our-product {
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 126px;
    width: 1111px;
    background-image: url(../images/our-collection.png);
    background-position-y: 30px;
    background-repeat: no-repeat;
}

.product-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-item {
    margin: 0;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 188px;
}

.product-item + .product-item {
    padding-left: 30px;
}

.product-item-header {
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.product-item-desc {
    padding: 0;
    margin: 0;
    font-family: Barlow;
    font-weight: normal;
    font-style: normal;
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    width: 255px;
}